# dependencies
/App/client/node_modules
/App/client/build
/App/client/src/firebase-config.ts

/App/server/node_modules
/App/server/config/dev.js

/App/node_modules
/App/package-lock.json

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env