# dependencies
/client/node_modules
/client/src/firebase-config.ts
/client/build

/server/node_modules
/server/config/dev.js

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
